.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.Movies-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.MovieCard {
	max-width: 350px;
}

.Movies-list {
	display: flex;
	flex-wrap: wrap;
}

.Movies-list_item {
	flex-grow: 1;
	width: 13%;
	margin: 2%
	/* height: 100px; */
}

.MovieCard-title {
	height: 60px;
	font-size: 20px !important;
}

.MovieCard-overview {
	height: 100px;
	overflow: hidden;
	padding: 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.MovieDetails {
	width: 50%;
	position: absolute;
	top: 100px;
	left: calc(50% / 2);
	/* background-color: #ffffff; */
	padding: 20px;
}

.MovieDetails-title {
	text-align: center;
	font-weight: bold;
	padding: 10px;
}

.MovieDetails-paper {
	padding: 30px;
	text-align: center;
}

.MovieDetails-overview {
	padding: 10px 0;
	display: flex;
}

.MovieDetails-release {
	padding: 10px 0;
}

.MovieDetails-overview-image {
	/* width: 300px; */
}

.MovieDetails-overview-description {
	/* padding: 0 20px; */
	text-align: left;
	padding-left: 30px;
}

.MovieDetails-rating {
	padding: 10px 0;
}

.MovieDetails-rating i {
	font-weight: bold;
}

.MovieDetails-overview-text {
	padding: 10px 0;
}

.MovieDetails-backdrop {
	padding: 10px 0;
}

.MovieDetails-backdrop img {
	width: 100%
}